.button {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  border-radius: 3px;
}

.button-outline {
  color: #ffffff;
  outline: none;
  background-color: transparent;
  border: none;
}

.form-heading {
  font-family: 'Roboto';
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  color: white;
}

.head-container {
  background-color: #00bfff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  border-radius: 30px;
  padding: 30px;
  text-align: center;
  margin-top: 20px;
  border: 1px solid blue;
  width: 60%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 80%;
  height: 40px;
  border-radius: 10px;
}
textarea {
  width: 80%;
  border-radius: 10px;
}
.sb-button {
  background-color: blue;
  width: 120px;
  height: 40px;
  border-radius: 10px;
}

.opacity {
  opacity: 0.5;
}
